%article
  %header
    = link_to speak do
      [#{speak.id}] #{time_ago_in_words speak.created_at}å‰
    (#{speak.user.display_name})
    = render "vote_icon", speak: speak
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_speak_path(speak), :class => 'btn btn-mini' if can? :update, speak
  %p
    = with_speak_link(speak.text)
