- model_class = Speak
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = link_to @speak.user.display_name, @speak.user
%p
  %strong= model_class.human_attribute_name(:text) + ':'
  %br
  = with_speak_link(@speak.text)

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), speaks_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_speak_path(@speak), :class => 'btn' if can? :edit, @speak
  = link_to t('.destroy', :default => t("helpers.links.destroy")), speak_path(@speak), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger' if can? :destroy, @speak
