- model_class = User
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:username) + ':'
  %br
  = @user.username
%p
  %strong= model_class.human_attribute_name(:nickname) + ':'
  %br
  = @user.display_name
%p
  %strong= model_class.human_attribute_name(:role) + ':'
  %br
  = @user.role

.form-actions
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(@user), :class => 'btn' if can? :update, @user
  = link_to t('.back', :default => t("helpers.links.back")), root_path, :class => 'btn'
